body{
    margin: 0px;
    padding: 0px;
    background:black;
    box-sizing: border-box;
}
/* navigation bar begin */
a{
	text-decoration: none;
	color: #eee;
}

header{
	width: 100%;
	height: 20vh;
	position: relative;
  overflow: hidden;
  font-size: 8px;
	font-family: 'Bebas Neue', sans-serif;
}

.container{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

nav{
	padding-top: 0rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.5rem;
  width: 90%;
  position: absolute;
  z-index: 2;
  /* edits made start*
  width: 450px;
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 9999;
  * edits made finish*/
}

.brand{
	font-size: 3rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}

.brand span{
	color: crimson;
}

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}
nav ul li:nth-child(5){
	animation-delay: 2s;
}
nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: crimson;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

@media screen and (max-width: 700px){

	.menu-toggle{
		display: block;
	}

	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin-top: 5rem;
	}

	nav ul li a{
		margin: 0;
		font-size: 2.5rem;
	}

	.brand{
		font-size: 5rem;
	}

  .overlay.menu-open,
  nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
  }

}
/* navigation bar end */
#layer{
    height: 100vh;
    width: 100%;
    background-color:rgba(0,0,0,.3);
}
#main{
    height: 80%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top:50%;
    transform: translateY(-50%);
}
#slider{
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
}
ul.conu{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
ul li.conx{
    float: left;
    margin: 0px 55px;
    white-space: nowrap;
}
ul li:hover{
    cursor: pointer;
}
.tooltip{
    height: 45px;
    width: 100px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    margin: 25px;
    font-family: monospace;
    font-size: 16px;
    text-align: center;
    padding-top: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    z-index: -1;
}
.tooltip:after{
    content: '\25bc';
    font-size: 16px;
    color: white;
    position: absolute;
    bottom: -13px;
    left: 50%;
    transform: translate(-50%);
}
hr{
    margin: 0px auto;
    margin-bottom: 2px;
}
.con{
  position: absolute;
  top: 80%;
  left: 45%;
  font-family: sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 10px #ff005b, 0 0 20px #ff005b, 0 0 30px #ff005b, 0 0 40px #ff005b, 0 0 50px #ff005b, 0 0 60px #ff005b;
}
.i{
  position: absolute;
  top: 95%;
  left: 45%;
  font-family: sans-serif;
  font-size: .5em;
  color: white;
  text-shadow: 0 0 10px #fff,
              0 0 20px #fff,
              0 0 40px #fff,
              0 0 80px #fff,
              0 0 1200px #fff,
              0 0 160px #fff;
}
